[Unit]
Description=Restic backup to %f

[Service]
EnvironmentFile=%f/config
LoadCredentialEncrypted=aws_secret_access_key:%f/aws_secret_access_key
LoadCredentialEncrypted=monitoring_aws_secret_access_key:%f/monitoring_aws_secret_access_key
LoadCredentialEncrypted=restic_password:%f/restic_password

Type=oneshot
CacheDirectory=serverless-restic-backup-client

SystemCallFilter=@system-service
NoNewPrivileges=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
# not compatible with NodeJS because of JIT
# MemoryDenyWriteExecute=true
RestrictSUIDSGID=true
KeyringMode=private
ProtectClock=true
RestrictRealtime=true
PrivateDevices=true
PrivateTmp=true
ProtectHostname=true
SystemCallArchitectures=native
CapabilityBoundingSet=
RestrictNamespaces=true
LockPersonality=true
RestrictAddressFamilies=AF_INET AF_INET6
ProtectProc=noaccess
RemoveIPC=true
PrivateUsers=true

ProtectSystem=strict

ProtectHome=read-only

ExecStart=/usr/lib/serverless-restic-backup-client/index.js
